body {
    background-color: blueviolet;
  }
#rcorners1 {
    border-radius: 25px;
    background: white;
    padding-left: 10px; 
    padding-top: 10px; 
    padding-right: 10px; 
    width: 1250px;
    height: 450px; 
    position: absolute;
    left: 4%;
  }
  #h1D{
      text-align: center;
  }
  #btnPlace{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 90px;
    padding-right: 10px;
  }
  #btnPlace1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90px;
    padding-right: 10px;
  }